<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>name</key>
		<string>美国短毛猫</string>
		<key>detail</key>
		<string>美国短毛猫（American Shorthair）是原产美国的一种猫，其祖先为欧洲早
美国短毛猫图集
美国短毛猫图集(34张)
 期移民带到北美的猫种，与英国短毛猫和欧洲短毛猫同类。据记载，五月花号上携带了数只猫以帮助除鼠。该品种的猫是在街头巷尾收集来的猫当中选种、并和进口品种如英国短毛猫、缅甸猫和波斯猫杂交培育而成。美国短毛猫素以体格魁伟，骨胳粗壮，肌肉发达，生性聪明，性格温顺而著称，是短毛猫类中大型品种。被毛厚密，毛色多达30余种，其中银色条纹品种尤为名贵。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>2.png</string>
		<key>name</key>
		<string>美国短毛猫</string>
		<key>detail</key>
		<string>美国短毛猫（American Shorthair）是原产美国的一种猫，其祖先为欧洲早
美国短毛猫图集
美国短毛猫图集(34张)
 期移民带到北美的猫种，与英国短毛猫和欧洲短毛猫同类。据记载，五月花号上携带了数只猫以帮助除鼠。该品种的猫是在街头巷尾收集来的猫当中选种、并和进口品种如英国短毛猫、缅甸猫和波斯猫杂交培育而成。美国短毛猫素以体格魁伟，骨胳粗壮，肌肉发达，生性聪明，性格温顺而著称，是短毛猫类中大型品种。被毛厚密，毛色多达30余种，其中银色条纹品种尤为名贵。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3.png</string>
		<key>name</key>
		<string>美国短毛猫</string>
		<key>detail</key>
		<string>美国短毛猫（American Shorthair）是原产美国的一种猫，其祖先为欧洲早
美国短毛猫图集
美国短毛猫图集(34张)
 期移民带到北美的猫种，与英国短毛猫和欧洲短毛猫同类。据记载，五月花号上携带了数只猫以帮助除鼠。该品种的猫是在街头巷尾收集来的猫当中选种、并和进口品种如英国短毛猫、缅甸猫和波斯猫杂交培育而成。美国短毛猫素以体格魁伟，骨胳粗壮，肌肉发达，生性聪明，性格温顺而著称，是短毛猫类中大型品种。被毛厚密，毛色多达30余种，其中银色条纹品种尤为名贵。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4.png</string>
		<key>name</key>
		<string>布偶猫</string>
		<key>detail</key>
		<string>布偶猫，又称“布拉多尔（Ragdoll）”，发源于美国，是一种杂交品种宠物猫。是现存体型最大、体重最重的猫之一。头呈楔形，眼大而圆，被毛丰厚，四肢较长且富有肉感，尾长，身体柔软，毛色有重点色、手套色或双色等等。布偶猫较为温顺好静，对人友善。其美丽优雅又非常类似于狗的性格（Puppy cat）而又被称为&quot;仙女猫&quot;，&quot;小狗猫&quot;。特殊的外貌和温和的性格是布偶猫最大的特点之一。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>5.png</string>
		<key>name</key>
		<string>英国短毛猫</string>
		<key>detail</key>
		<string>英国短毛猫，体形圆胖，四肢粗短发达，毛短而密，头大脸圆，温柔平静，对人友善，极易饲养。大而圆的眼睛根据被毛不同而呈现各种颜色。作为一个古老的猫品种，其历史可追溯至古罗马时期的家猫，由于拥有悠久的育种历史，可以称得上是猫家族中的典范。英国短毛猫除了拥有固定而聚，代表性的遗传特征之外，又具有丰富的变异性，如背毛色眼睛颜色等。更重要的是，有了广泛的配种历史后，这种猫拥有了更健康的身体和更温驯的性格。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6.png</string>
		<key>name</key>
		<string>折耳猫</string>
		<key>detail</key>
		<string>苏格兰折耳猫的耳朵竟是整齐地扣在头上，于是很自然地人们在头脑中把它们划到了‘精灵族’的一边，猫中的折耳‘精灵’。据说在1961年，苏格兰一户猎人家里的一只母猫产下了一窝小猫，其中有一只可爱的小猫，它有着白色的皮毛、紧扣着的耳朵和像小精灵一样的脸，因为原产地靠近苏格兰的库泊安格斯，从此便根据出生地及耳朵下折的现象，命名这个品种为“苏格兰折耳猫”。最初的这只猫取名为SUSIE，它便是苏格兰折耳猫的始祖，后来SUSIE又生下了另一只白色折耳猫。这时，牧羊人的邻居，一位叫威廉·罗斯的牧羊人注意到SUSIE有着独一无二的耳朵。于是决定同他的妻子Mary一起，从这一只小猫着手试验，繁殖有折耳特征的新品种。但是折耳猫有天生的“基因缺陷”，折耳和折耳繁育出来的小猫带有遗传病，一旦发作终身疼痛会造成行动不便。并且，即使是没有“发病”的折耳猫，也会终生伴有关节粗大、手掌脚掌变形、体质较弱等问题。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>7.png</string>
		<key>name</key>
		<string>美国短毛猫</string>
		<key>detail</key>
		<string>美国短毛猫（American Shorthair）是原产美国的一种猫，其祖先为欧洲早
美国短毛猫图集
美国短毛猫图集(34张)
 期移民带到北美的猫种，与英国短毛猫和欧洲短毛猫同类。据记载，五月花号上携带了数只猫以帮助除鼠。该品种的猫是在街头巷尾收集来的猫当中选种、并和进口品种如英国短毛猫、缅甸猫和波斯猫杂交培育而成。美国短毛猫素以体格魁伟，骨胳粗壮，肌肉发达，生性聪明，性格温顺而著称，是短毛猫类中大型品种。被毛厚密，毛色多达30余种，其中银色条纹品种尤为名贵。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8.png</string>
		<key>name</key>
		<string>狸花猫</string>
		<key>detail</key>
		<string>狸花猫是我们在生活中经常能见到的一种猫咪，狸花猫作为本土猫，没有那么娇生惯养，不用担心水土不服的问题，是非常容易饲养的一种猫咪。狸花猫的历史悠久，狸猫换太子的故事，说的就是宋朝时候的事，狸花猫的外表很漂亮，体型苗条，非常的健硕，而且是非常擅长捉老鼠的猫咪。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>9.png</string>
		<key>name</key>
		<string>暹罗猫</string>
		<key>detail</key>
		<string>虽然暹罗猫的嗓音不是特别讨喜，它们的声音不像波斯猫那样温柔甜美，但只要主人训练得当，它们不会有事没事地乱叫。不过如果猫咪处于发情期，那么它们可能会比平时更爱叫，主人可以在猫咪发情的时候加以安抚，或在适当地时候直接给猫咪做绝育手术，这样它们就不会频繁喊叫了。</string>
	</dict>
</array>
</plist>
