<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>dog0.jpg</string>
		<key>kinds</key>
		<string>拉布拉多</string>
		<key>detail</key>
		<string>非常适合被选作经常出入公共场合的导盲犬或地铁警犬及搜救犬和其他工作犬的狗品种，因原产地在加拿大的纽芬兰与拉布拉多省而得名。是一种中大型犬类，天生个性温和、活泼、没有攻击性和智能高，是适合被选作导盲犬或其他工作犬的狗品种，跟黄金猎犬、哈士奇并列三大无攻击性犬类之一。在美国犬业俱乐部中拉布拉多是目前登记数量最多的品种。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog1.jpeg</string>
		<key>kinds</key>
		<string>中华田园犬</string>
		<key>detail</key>
		<string>田园犬的适应能力特别的强，它们能很快的适应当地的气候特点，和其他的犬种比起来的话田园犬的独立性很高。中华田园犬与早期的狼、中国狼、草原狼外形非常相似，嘴短，额平。中国土狗主要分布于长城以南、青藏高原以东，以中部地区为中心的低海拔的汉族集聚地，广泛存在于中国汉族农村及东南亚地区，现在城市化也广泛把中华田园犬当作宠物狗。中华田园犬是中国汉族几千年农耕社会背景下的产物，是历史和文化的活化石，被称为“中华国犬”。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog2.jpg</string>
		<key>kinds</key>
		<string>萨摩耶</string>
		<key>detail</key>
		<string>传说中的微笑天使，有聪明、快活并且独立心很强的特点,它能够和任何人成为好朋友。萨摩耶犬有着非常引人注目的外表，体格强健却不惹麻烦：雪白的被毛，微笑的脸和黑色而聪明的眼睛，是现在犬中最漂亮的一种。萨摩耶犬身体非常强壮，速度很快，是出色的守卫犬，但又是温和而友善的，从不制造麻烦，却能保持立场。现代很多家庭都喜欢饲养萨摩耶犬，原因就是这种犬很能容易维护邻里之间的关系。萨摩耶犬虽然有很好的体格却从来不轻易招惹“别人”，包括：其它的宠物和人群。在遇到其它“人”的时候总是文文静静的待着，只要对方不招惹它，它就绝对不挑衅。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog3.jpeg</string>
		<key>kinds</key>
		<string>吉娃娃</string>
		<key>detail</key>
		<string>吉娃娃不仅长得可爱,而且性格也十分友善,很好亲近,非常适合作为宠物犬饲养。吉娃娃是目前人们所知道最古老的犬种之一，原产于美洲，和墨西哥的古老文明有深厚而密切的关系。吉娃娃属小型犬种里最小型，优雅、警惕、动作迅速，以匀称的体格和娇小的体型广受人们的喜爱。它们是相当受欢迎的狗狗，功用也相当广泛－它们可以是宗教的守护者，也是平民的好伴侣，上至贵族下至百姓，不分等级不分贵贱，吉娃娃是大家的好朋友。它不喜欢外来的同品种的狗。有和梗类相似的特点。精力充沛。体型较小，适合家养。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog4.jpg</string>
		<key>kinds</key>
		<string>法国斗牛犬</string>
		<key>detail</key>
		<string>法国斗牛犬亲切，敦厚，忠诚，执著，勇敢，具有独特的品位，而且完全表露于表情与动作。是一种活泼、聪明、肌肉发达的狗，骨骼沉重，背毛平滑、结构紧凑，体型中等或较小。表情显得警惕、好奇而感兴趣。法国斗牛犬亲切，敦厚，忠诚，执著，勇敢，具有独特的品位，而且完全表露于表情与动作。对小孩和善，同时也是作风彪悍，能力强，对于新鲜事物有极强的好奇心的优秀玩具犬。</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog5.jpeg</string>
		<key>kinds</key>
		<string>哈士奇</string>
		<key>detail</key>
		<string>西伯利亚哈士奇的特色气质是友好、温和,但也不失机警、热情、聪明、温顺、热心,饲养的城乡均可,宽敞为佳。哈士奇(husky)犬十分怕热，也是一种很好动的狗狗，因此运动显得十分重要。在这儿我们所指的运动除了在自家庭院玩耍之外.在教育哈士奇(husky)方面，哈士奇(husky)犬由于所居环境恶劣，为保性命，故相当有主见，犬主应对其表现强势一面，以压制爱犬当老大的个性，以免爱犬不听主人的命令。
哈士奇性格温柔友好,又非常警觉,是忠诚的伴侣和优秀的工作伙犬.它不具有侵略性,和其它动物相处融洽.由于哈士奇具有狼的血统,独处时,它有时会学狼嚎,主人不必担心,这是孤独沮丧的表现,可以用玩具分散注意力,或者通过一些训练改善这样情况。
</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog6.jpg</string>
		<key>kinds</key>
		<string>边境牧羊犬</string>
		<key>detail</key>
		<string>天性聪颖、善于察言观色，能准确明白主人的指示，可借由眼神的注视而驱动羊群移动或旋转。边境牧羊犬聪明容易饲养，生活中它们一点也不娇贵，对生活环境的要求也不高，这也省去了主人不少的饲养麻烦。生活中边境牧羊犬喜欢与主人嬉戏玩乐，更喜欢和主人做各种游戏，飞盘、巡回、越障碍等等都非常的在行。一般来说，早晚各半个小时的运动是满足边境牧羊犬运动量的最低要求</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dog7.jpeg</string>
		<key>kinds</key>
		<string>泰迪犬</string>
		<key>detail</key>
		<string>泰迪犬属于小型犬，它们的食量都不会太大，但是要是你饲养的是一只贪吃型的泰迪犬，那么它就会无时无刻的围着你要吃的，吃饭时围着你会用很苦逼的小眼神看着你，正因为它们特别的贪吃所以只要看到吃的不管脏不脏都会吃，所以饲养这类泰迪犬的主人一定要做好拒食训练！

还有平时就算它怎样围着你也不要给它吃人食，因为人食含盐太高容易导致它褪色，泪痕等，所以就算它再贪吃主食都应该不变也狗粮为主，对于贪吃而导致褪色的泰迪狗粮最好选择一些清淡低盐含深海鱼油的天然狗粮为主，因为深海鱼油有助改善褪色，低盐有效减少泪痕！</string>
	</dict>
</array>
</plist>
