<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>Gc1.jpg</string>
			<key>phone</key>
			<string>2344343</string>
			<key>address</key>
			<string>武侯祠一号</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Gc2.jpg</string>
			<key>phone</key>
			<string>566746</string>
			<key>address</key>
			<string>武侯祠二号</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Gc3.jpg</string>
			<key>phone</key>
			<string>56677</string>
			<key>address</key>
			<string>杜甫草堂</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>Gc4.jpg</string>
			<key>phone</key>
			<string>8707897</string>
			<key>address</key>
			<string>hsjhgdhcgh</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Gc5.jpg</string>
			<key>phone</key>
			<string>67634798</string>
			<key>address</key>
			<string>韩国</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Gc6.jpg</string>
			<key>phone</key>
			<string>87678678</string>
			<key>address</key>
			<string>海港城</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>Gc7.jpg</string>
			<key>phone</key>
			<string>7876786</string>
			<key>address</key>
			<string>中国</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Gc8.jpg</string>
			<key>phone</key>
			<string>6767767</string>
			<key>address</key>
			<string>工学院</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Gc9.jpg</string>
			<key>phone</key>
			<string>0870896472</string>
			<key>address</key>
			<string>京沪</string>
		</dict>
	</array>
</array>
</plist>
