<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>p1.jpg</string>
		<key>info</key>
		<string>记得在今年夏天的一天，我和那里值班的老工人看见有一只白色的大猫摇摇晃晃的走到我们值班室附近，那猫骨瘦如柴，几乎奄奄一息。好可怜啊！我和好心的师傅们给那只猫弄些吃的，挽救了它的一条命。正像人们所说的：猫通人性！这里有人心疼它，它就不走了。一直到后来有许多流浪猫都来到这里，成了一个名副其实的收养所。
为了便于辨认，我和工人师傅们给这些猫起了一些名字。按着猫大小将五只白猫分别叫：老大老二老三老四和老五；另外两只根据颜色分别叫黄猫和狸猫。再到后来，我收养了四只小猫，再加上最近经常光顾的一只半大猫，这不，十二只啦！
我发现，这个世界上还是好人多。这多半年来，许多的老师傅和我一起，为了这些无家可归的东西们费尽了心血。每天我们上班时，尽可能的给猫带些吃的。各种各样的食物都有。有的时候没有什么吃的东西了，好心的师傅们就自掏腰包，到附近的小商店、小饭店给它们买些火腿肠之类的食物。为了这些猫，许多人家里吃鱼、虾的次数就多了起来，就是增添猫的食物。
我们的这些宝贝待遇不低。大家开玩笑说：什么样的饭菜咱们的猫没有吃过？的确如此。在‘居住’方面，我们让它们居有住所。利用单位空闲的房屋给它们弄了档次较高的宿舍，什么铺的盖的，吃饭喝水用的俱全，到过这里的人见到这番情景都说这些猫可遇到了好心人啊！
每天上班，这些东西就成了大家的开心果。老大是一只公猫，吃饱了就经常到外边‘寻花问柳’，大家都管它叫‘老流氓’。老二比较老实，平常是不说不道的，吃饭的时候总抢不到前面。老三比较厉害，最近腰部受了点伤，据说是外边来的一只黑色的大公猫给咬的。老四和那只黄猫有特长，就是经常和值班的人员一起巡逻，偌大的厂区，漆黑的夜晚，总是不间断跟着你走。这些猫也知道欺负老实人，平时往值班室的椅子桌子床铺上一躺，来人也不起来，都十来斤重啊！也挺‘壮观’的。
在今年的10月的一天，一辆路过的汽车将老五给碾压了，气坏了值班的唐师傅，他一气之下追到了那个单位，将司机大骂了一顿，司机来这里给大家赔礼道歉，后来老五还是死了，师傅们将它埋在了值班室附近一棵树下，据说他们还举行了一个悼念仪式。其实这只猫是我最喜欢的，只要我值班了就跟我到办公室睡觉，吃的好东西最多。不久，在我们这里又来了一只小‘波斯猫’，长长的白毛，两个眼睛不是一种颜色，现在也是一只大猫了，也就是现在的老五。
在今年的九月，我发现晚上有一只特别小的白猫总是趁夜深人静的时候进来，吃大猫们吃剩下的食物，好可怜啊！有一天，我和一位师傅将这只小猫抓住了，放到了与我值班隔壁的房间喂养。一位有养猫经验的师傅讲，这只猫只有一个多月大。给它洗了澡，全身的毛雪白雪白的，两只乌黑的眼睛一眨一眨的，人见人爱。时隔不久，一位师傅将一只在家里喂养的猫拿到了这里与这只小猫作伴。在前几天，我又发现了一只有两个月大的小猫在厂区的一个垃圾箱里觅食，就将它抓住了，这个猫连走路的力气都没有了，洗澡后就站不稳了。经过近一周的喂养，它活过来了，还是一只很好看的‘波斯猫’。单位的许多师傅都说我养猫有一套，这不，前两天，不知道是谁又将一只小猫悄悄的放在了小猫的房间里，很好看的一只小黄猫。
我不喜欢什么猫啊狗啊一类的宠物。一是咱们没有那闲情逸致，二是咱们也没有那个条件。我们家里除了三口人以外，就没有‘张口’的了。可是，看到这些小东西可怜巴巴的样子，谁都难免怜悯之心。其实这些流浪猫和我们人类一样来到这个世界，和人一样享有在这个世界生存的权利。你给它一口水，它就不渴，你给它一口吃的，它就不饿，就可以生存。我们为什么不能给它们这个生存的空间呢？</string>
		<key>url</key>
		<string>https://weibo.com/u/5243061255</string>
	</dict>
	<dict>
		<key>image</key>
		<string>p2.jpg</string>
		<key>info</key>
		<string>火红的枫叶像一枚枚邮票，传递着台湾同胞与我们的心；又像一只只小船，在世界各地漂泊！</string>
		<key>url</key>
		<string>https://www.weibo.com/jiuguimoye?is_hot=1</string>
	</dict>
	<dict>
		<key>image</key>
		<string>p3.jpg</string>
		<key>info</key>
		<string>当我愿如云一样潇洒漂泊，却有风的羁绊，您告诉我要坚持不懈;当我愿像鸟一样自由飞翔，却有弓网之惊，您告诉我要临危不惧;当我愿如流水之负载而轻扬，却有壁崖之阻，您告诉我要行而不畏，多一次体验就多一点经验，多一笔财富，就多一份成功的机遇。黑暗的天，我找到了方向，您就是那一颗永远闪烁着的恒星，赋予了我一个缤纷的色彩。</string>
		<key>url</key>
		<string>https://weibo.com/u/1843526412</string>
	</dict>
</array>
</plist>
